.Nav{
    height: 15vh;
    width: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}